BASE_URL="http://localhost:5173"
AUTH_LOGOUT_REDIRECT="/"
## If you want to test with a local identity provider:
#AUTH_BASEURL=http://localhost:5173/api-proxy/api
#AUTH_OAUTH_AUTHORIZATION_URL=http://localhost:8080/realms/test-realm/protocol/openid-connect/auth
#AUTH_OAUTH_TOKEN_URL=http://localhost:8080/realms/test-realm/protocol/openid-connect/token
#AUTH_OAUTH_USER_INFO_URL=http://localhost:8080/realms/test-realm/protocol/openid-connect/userinfo
#AUTH_OAUTH_CLIENTID=test-client
#AUTH_OAUTH_CLIENTSECRET=secret
## These are example values for a Keycloak with a client `test-client`. Refer to the Keycloak docs for details.

## If you want to use local https:
##   - use the following,
##   - also change the /frontend/.env/VITE_SERVER_URL and
##   - start the backend & frontend
##   - start the caddy proxy in /dev/https
##   - navigate to https://localhost:8443
#BASE_URL=https://localhost:8443/api-proxy
AUTH_INITIAL_ADMIN_USERNAME=admin@example.com
AUTH_INITIAL_ADMIN_PASSWORD=secret
AUTH_ENABLE_PASSWORD=true
DB_URL="postgres://admin:secret@localhost:5432/cccc"
## Logging
## - both will only log if set to true
## - true will be converted to a string and checkt as such in the application
## - If you want to log the RAG Chunks to the console just comment the next line back in - these logs will be forwarded to the frontend
#LOG_RAG_CHUNKS=true
## - If you want the Full log of the Langchain Agent to the console just comment the next line back in
#LOG_LLM_AGENT=true
## - Needed for the openapi generator, due to restrictions in search.maven.org
OPENAPI_GENERATOR_CLI_SEARCH_URL=DEFAULT

## Metrics
METRICS_PORT=0

# (optional) langfuse credentials to enable tracing
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASEURL=

# LLM Eval Service URL (internal service)
EVAL_SERVICE_URL=http://localhost:3202
