name: REI-S Stresstest

permissions:
  contents: read
  packages: read

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    paths:
      - .github/workflows/reis-stresstest.yaml

defaults:
  run:
    working-directory: services/reis

jobs:

  build-reis-if-needed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v6
        id: download_reis
        continue-on-error: true
        with:
          name: reis
          path: /tmp/
      - if: ${{ steps.download_reis.outcome == 'failure' }}
        uses: actions/checkout@v5
      - if: ${{ steps.download_reis.outcome == 'failure' }}
        uses: docker/setup-buildx-action@v3
      - if: ${{ steps.download_reis.outcome == 'failure' }}
        uses: docker/build-push-action@v6
        with:
          context: services/reis/
          file: services/reis/Dockerfile
          tags: reis:commit-${{ github.sha }}
          outputs: type=docker,dest=/tmp/reis.tar
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VERSION=${{ github.ref_type == 'tag' && github.ref_name || github.sha }}
      - if: ${{ steps.download_reis.outcome == 'failure' }}
        uses: actions/upload-artifact@v5
        with:
          name: reis
          path: /tmp/reis.tar
          retention-days: 2

  test-stress:
    runs-on: ubuntu-latest
    needs: build-reis-if-needed
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true
      - run: docker network create stresstest-network
      - name: start database
        run: |
          docker run \
            -d \
            --network stresstest-network \
            --name pgvector \
            -e POSTGRES_USER="admin" \
            -e POSTGRES_PASSWORD="secret" \
            -e POSTGRES_DB="cccc" \
            pgvector/pgvector:pg16
      - uses: actions/download-artifact@v6
        with:
          name: reis
          path: /tmp/
      - name: start REIS
        run: |
          docker load --input /tmp/reis.tar
          docker run \
            -d \
            --network stresstest-network \
            --name reis \
            -p 3201:3201 \
            --cpus 2 \
            --memory 2g \
            -e WORKERS="2" \
            -e BATCH_SIZE="100" \
            -e STORE_TYPE="pgvector" \
            -e STORE_PGVECTOR_URL="postgresql+psycopg://admin:secret@pgvector:5432/cccc" \
            -e STORE_PGVECTOR_INDEX_NAME="stresstest" \
            -e EMBEDDINGS_TYPE="random-test-embeddings" \
            reis:commit-${{ github.sha }}
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: services/reis/uv.lock
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: uv sync
      - name: Stresstest
        env:
          pytest_github_report: true
        run: uv run pytest -rs --cov=rei_s --cov-report=xml --cov-report=term --stress --error-for-skips tests/stress
      - name: get logs
        if: ${{ !cancelled() }}
        run: |
          docker logs reis
